@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

*{
    font-family: "Nunito", sans-serif;
}
.TransitionPage{
    background-image: url("../public/images/pages-bg.png");
    background-position: center;
    background-size: contain;
}
